<footer>
  <div class="card-footer text-muted">
    <p class="text-right text-muted font-size: small">&copy; Copyright 2022 | All Rights Reserved | <a href="https://github.com/jradigan17/tinyapp" data-toggle="tooltip" data-placement="top" title="https://github.com/jradigan17/tinyapp">Get the latest version on <i class="fa-brands fa-github"></i></a></p>
  </div>
</footer>
