<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:#ff8000">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/urls">My URLs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/urls/new">Create New URL</a>
        </li>
      </ul>

      <% if(!username){ %>
        <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
          <button class="btn my-2 my-sm-0 border-secondary" type="submit" data-toggle="tooltip" data-placement="top" title="Login" style="background-color:#ff8000; color:black">Login  <i class="fa-solid fa-user"></i></button>
        </form>
      <% } else{ %>  
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <div class="form-group mx-sm-1 align-middle text-right">
            <label style="color:black"><%= username %></label>
          </div>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle align-middle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="User Settings">
              <i class="fa-solid fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="background-color:#ff8000" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">User Profile</a>
              <a class="dropdown-item" href="#">Reset Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </div>
        </form>
     <% } %>

      
    </div>
  </nav>
</header>




















