<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/10efa60a15.js" crossorigin="anonymous"></script>
  <title>TinyApp - Login</title>
</head>

<body style="background-color:black; color: whitesmoke">
  <header>
    <%- include('partials/_header') %>
  </header>

  <% if (username && password) { %>

  <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
    <main style="margin: 1em;">
      <h3> TinyApp Login</h3>
      <form name="login" class="row g-3 needs-validation" action="/submitlogin" method="POST" style="margin: 1em;">
        <div class="col-md-4">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="col-md-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn" style="background-color:#ff8000; color:black">Login</button>
        </div>
      </form>
      <div style="margin: 3em">Need an account? <a href="/register">Register Here</a>
      </div>
    </main>
  </div>




    <% } else if (!username && !password) { %>
      <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
        <main style="margin: 1em;">
          <h3> TinyApp Login</h3>
          <form name="login" class="row g-3 needs-validation" action="/submitlogin" method="POST" style="margin: 1em;">
            <div class="col-md-4">
              <label for="username" class="form-label">Username</label>
              <input type="username" class="form-control border-danger" name="username" placeholder="Username"
                style="background-color:rgb(249, 185, 185)" required>
              <span id="passwordHelpInline" class="form-text font-size: small mb-3"
                style="color: rgb(243, 18, 18)">Invalid Username.
              </span>
            </div>
            <div class="col-md-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control mb-3 border-danger" style="background-color:rgb(249, 185, 185)"
                name="password" placeholder="Password" required>
            </div>
            <div class="col-12 mb-4">
              <button type="submit" class="btn" style="background-color:#ff8000; color:black">Login</button>
            </div>
          </form>
          <div style="margin: 3em">Need an account? <a href="/register">Register Here</a>
          </div>
        </main>
      </div>

  
        <% } else { %>
          <div class="card w-50" style="margin: 2em; background-color: black; color: whitesmoke">
            <main style="margin: 1em;">
              <h3> TinyApp Login</h3>
              <form name="login" class="row g-3 needs-validation" action="/submitlogin" method="POST"
                style="margin: 1em;">
                <div class="col-md-4">
                  <label for="username" class="form-label">Username</label>
                  <input type="username" class="form-control" name="username" value="<%= username %>"
                    style="background-color:rgb(255, 255, 255)" required>
                </div>
                <div class="col-md-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control border-danger" style="background-color:rgb(249, 185, 185)"
                    name="password" placeholder="Password" required>
                  <span id="passwordHelpInline" class="form-text font-size: small mb-3"
                    style="color: rgb(243, 18, 18)">Invalid Password.
                  </span>
                </div>
                <div class="col-12 mb-4">
                  <button type="submit" class="btn" style="background-color:#ff8000; color:black">Login</button>
                </div>
              </form>
              <div style="margin: 3em">Need an account? <a href="/register">Register Here</a>
              </div>
            </main>
          </div>
  
  
            <% } %>
  


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>